Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  -bugprone-throwing-static-initialization,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  cppcoreguidelines-slicing,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  portability-*,
  readability-redundant-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|tests)[\\/]'
